
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background: blue;
  height: 10%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  margin-right: 150px;
  border-bottom: solid 2px gray;
  text-align: center;
  align-items: center;
  overflow: hidden;
  opacity: .9;
  font-family: Arial, Helvetica, sans-serif;

}

.navbar>ul{
  list-style: none;
  float: right;
  font-size: 1.2rem;
  display: flex;
  text-decoration: none;
}
.navbar>ul>li{
  color:  #fff;
  margin: 10px;
}

.navbar>ul>li>a{
   color: #fff;
   text-decoration: none;
}
.navbar>ul>li>a:hover{
  text-decoration: underline;
  color: #ff0000;
}

.banner{
  background-color: #cccccc;
  background-image: url('https://images.unsplash.com/photo-1512152272829-e3139592d56f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80');
  margin-top: 2px;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 18%;
  height: 25%;
}

.banner-text{
  color: #fff;
  font-size: 25px;
  float: left;
  font-family: system-ui;;
}

#containers{
  margin-top: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  padding: 300px;

  
}

.wrapper{
  background: red;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 750px;
  margin: 15px;
}

#container{
  width: 100%;
  display: flex;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 150px;
}

.wrappers{
  margin-bottom: 250px;
  background: red;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 750px;
  margin: 15px;
  
}

/* .text{
  text-align: center;

} */